.SKUSelectorContainer {
  min-height: 29px;
}

.priceContainer {
  min-height: 65px;
}

.nameContainer {
  min-height: 84px;
}

.buyButton {
  opacity: 0;
  transition: all 0.2s ease-out;
}

.container:hover {
  ox-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
  transform: scale(1.025);
  transition: 0.2s;
}

.container:hover .buyButton {
  opacity: 1;
}
